# Vercel Environment Variables

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
ADMIN_LAYOUT_KEY=

SUPABASE_URL=https://dgmhxldfhmcywamgigji.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OVERLAY_ACCESS_SECRET=
